In [1]:
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
# list of text documents
text = ["The quick brown fox jumped over the lazy dog."]

In [3]:
# create the transform
vectorizer = CountVectorizer()

In [4]:
# tokenize and build vocab
vectorizer.fit(text)

CountVectorizer()

In [5]:
# summarize
print(vectorizer.vocabulary_)

{'the': 7, 'quick': 6, 'brown': 0, 'fox': 2, 'jumped': 3, 'over': 5, 'lazy': 4, 'dog': 1}

In [6]:
# encode document
vector = vectorizer.transform(text)

In [7]:
vector

<1x8 sparse matrix of type '<class 'numpy.int64'>'
	with 8 stored elements in Compressed Sparse Row format>

In [8]:
# summarize encoded vector
print(vector.shape)

(1, 8)

In [9]:
print(type(vector))

<class 'scipy.sparse.csr.csr_matrix'>

In [10]:
print(vector.toarray())

[[1 1 1 1 1 1 1 2]]

In [11]:
import pandas as pd

In [12]:
df = pd.DataFrame(vector.toarray())

In [13]:
df

   0  1  2  3  4  5  6  7
0  1  1  1  1  1  1  1  2

In [14]:
len(vectorizer.vocabulary_)

8

In [15]:
columns = list()


for i in range(len(vectorizer.vocabulary_)):
    for k,c in vectorizer.vocabulary_.items():
        if i == c:
            col = k
            #print(col)
            columns.append(col)
    
        
                
columns

['brown', 'dog', 'fox', 'jumped', 'lazy', 'over', 'quick', 'the']

In [16]:
df.columns = columns

In [17]:
df

   brown  dog  fox  jumped  lazy  over  quick  the
0      1    1    1       1     1     1      1    2

In [18]:
# example of using the vectorizer above to encode a document with one
# word in the vocab and one word that is not.

In [19]:
# Running this example prints the array version of the encoded sparse vector showing one
# occurrence of the one word in the vocab and the other word not in the vocab completely ignored.

In [20]:
# encode another document
text2 = ["the puppy"]
vector1 = vectorizer.transform(text2)
print(vector1.toarray())

[[0 0 0 0 0 0 0 1]]

In [21]:
df2 = pd.DataFrame(vector1.toarray())

In [22]:
df2

   0  1  2  3  4  5  6  7
0  0  0  0  0  0  0  0  1

In [23]:
df2.columns = columns

In [24]:
df2

   brown  dog  fox  jumped  lazy  over  quick  the
0      0    0    0       0     0     0      0    1